@font-face {
  font-family: got_thin;
  src: url("../font/gotham/Gotham-Thin.otf");
  font-style: normal; }

@font-face {
  font-family: got_lite;
  src: url("../font/gotham/Gotham-Light.otf");
  font-style: normal; }

@font-face {
  font-family: got_book;
  src: url("../font/gotham/Gotham-Book.otf");
  font-style: normal; }

@font-face {
  font-family: got_bold;
  src: url("../font/gotham/Gotham-Bold.otf");
  font-style: normal; }
  